.featured-item {
  background-image: url('../../../assets/home/featured.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}




@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}